<!DOCTYPE html>
<!--Assignment 13 - Abraham Edelstein -->
<html lang="en">
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Buy a Calculator | Best Math Prep</title>		
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
		<link rel="stylesheet" href="buy-a-calculator.css">
		<link rel="stylesheet" href="style.css">
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>		
	</head>
	
	<body>
		<!-- beginning of header -->
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light ">
			<div class="container-fluid">
		    	<a class="navbar-brand" href="index.html"><a class="btn button logo" href="index.html">Best Math Prep</a>
		    	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      		<span class="navbar-toggler-icon"></span>
		    	</button>
		    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    		<ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-fill w-100">
			        	<li class="nav-item">
			          		<a class="nav-link" href="index.html">Home</a>
			        	</li>
			        	<li class="nav-item">
			          		<a class="nav-link" href="index.html#instructions">Instructions</a>
			        	</li>
				        <li class="nav-item">
				          <a class="nav-link" href="lessons.html">Lessons</a>
				        </li>
				        <li class="nav-item">
				          <a class="nav-link" href="practice-tests.html">Practice Tests</a>
				        </li>
				        <li class="nav-item">
				          <a class="nav-link" href="map.html">Sunday Testing Sites Map</a>
				        </li>
				        <li class="nav-item">
					          <a class="nav-link active" aria-current="page"  href="buy-a-calculator.html">Buy A Calculator</a>
					    </li>	
				        <li class="nav-item">
				          <a class="nav-link" href="subscribe.html">Subscribe</a>
				        </li>		        
		       		</ul>
		    	</div>
		  	</div>
	    </nav>
	    <!-- end of header -->
	    <br>
	    <br>
		<div id="app">
			<div class="cart">
            	<p>Cart</p>
            	<p>{{ cart }}</p>
        	</div>
		    <calculatorblack @add-to-cart="increaseCart" @remove-from-cart="decreaseCart"></calculatorBlack>
		    <calculatorwhite @add-to-cart="increaseCart" @remove-from-cart="decreaseCart"></calculatorWhite>
		    <div id="rater">
			    <p id="ratingIntro">My shopping experience today has been: <strong id="model">{{ rating }}</strong></p>
				<label>
					<input type="radio" value="Great!" v-model="rating" />
					Great
				</label>
				<label>
					<input type="radio" value="Okay." v-model="rating" />
					Okay
				</label>
				<label>
					<input type="radio" value="Bad." v-model="rating" />
					Bad
				</label>
				<br>
				<br>
			</div>
		</div> 
		<br>
		<br>
		<!-- beginning of footer -->
		<footer class="footer" id="footer">
		 	<p><a id="terms" href="terms-of-use.html">Terms of Use</a></p>
		 	<p>&#169;2021 Best Math Prep. All rights reserved.</p>
		 	<p id="disclaimer">SAT<sup>&reg</sup> is a registered trademark of the College Entrance Examination Board™.
		 		 The College Entrance Examination Board™ does not endorse, nor is it affiliated in any way with the owner or any content of this site.</p>
		</footer>
		<!-- end of footer --><script src="buy-a-calculator.js"></script>	
	</body>	
</html>